<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeybordExercise.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KeybordExercise.Properties.Settings>
            <setting name="DoNotShowInfoForm1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KingsoftInstallPath" serializeAs="String">
                <value>C:\Users\xiaog\AppData\Roaming\Typeeasy\11.1\course</value>
            </setting>
            <setting name="TxtReturn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XMLReturn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecordHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSimpleTimes" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AutoCreateNewFile" serializeAs="String">
                <value>True</value>
            </setting>
        </KeybordExercise.Properties.Settings>
    </userSettings>
</configuration>